.clock-toolbar {
  --min-height: calc(4px + 8vh);
}

#clock {
  display: flex;
  font-size: calc(4px + 3vh);
  letter-spacing: 3px;
}

#clock ion-icon {
  align-self: center;
  margin-right: 5px;
}

#game-root {
  height: 100%;
}
