.badgeContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 5px;
  column-gap: 5px;
  margin: 20px auto;
}

.badge {
  order: 1;
  opacity: 0.4;
  width: calc(4px + 5vw);
  height: calc(4px + 5vw);
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
}
.badge.selected {
  outline: 2px solid white;
}
.badge:not(.disabled):hover,
.badge:not(.disabled).selected {
  opacity: 0.7;
}
.badge.obtained {
  opacity: 0.7;
  background-color: gold;
}
.badge.obtained:hover,
.badge.obtained.selected {
  opacity: 1;
}

.badge-details {
  order: 2;
  display: none;
  font-size: calc(4px + 1vw);
}

.badge:hover + .badge-details,
.badge.selected + .badge-details {
  display: block;
}
