.stats-list {
  background: none;
  height: 100%;
  overflow-y: auto;
}

.stats-list ion-list-header {
  font-size: calc(4px + 1vw);
}

.stats-list ion-item {
  color: white;
  font-size: calc(1px + 1vw);
  --background: none;
  --min-height: 0.5vh;
}
